<!-- BEGIN PAGE HEADER-->

<h3 class="page-title"> Inscribir proyecto </h3>
<div class="page-bar">
    <ul class="page-breadcrumb">
        <li>
            <i class="fa fa-home"></i>
            <a href="#/app/dashboard.html">Inicio</a>
            <i class="fa fa-angle-right"></i>
        </li>
        <li>
            <a href="#/app/proyectos/inscribir"> Inscribir proyecto</a>
        </li>
    </ul>
</div>
<!-- END PAGE HEADER-->
<!-- BEGIN MAIN CONTENT -->
<div class="note note-success note-bordered">
    <p> Realiza el llenado de la siguiente información. </p>
</div>
<div class="row">
    <div class="col-md-12">
        <!-- BEGIN PORTLET-->
        <div class="portlet box blue-hoki">
            <div class="portlet-title">
                <div class="caption">
                    <i class="icon-note"></i> Proyecto </div>
                <div class="tools">
                    <a href="javascript:;" class="collapse"> </a>
                    <a href="javascript:;" class="reload"> </a>
                </div>
            </div>
            <div class="portlet-body form">
                <!-- BEGIN FORM-->
                <form name="proyForm" class="form-horizontal form-bordered" ng-submit="ipc.inscribir()" novalidate="">

                    <div class="form-body">
                        <div class="form-group">
                            <label class="control-label col-md-3">Nombre del proyecto</label>
                            <div class="col-md-9">
                                <div class="input-icon right">
                                    <input type="text" class="form-control" name="proyectname" id="proyectname" ng-model="ipc.project.nombre" required="required"/> 
                                    <p ng-show="proyForm.proyectname.$invalid && !proyForm.proyect.$pristine" class="help-block">Ingresar nombre de proyecto</p>  
                            </div>
                        </div>
                        </div>

                        <div class="form-group">
                            <label class="control-label col-md-3">Materia(s)</label>
                            <div class="col-md-9">
                                <div class="input-icon right">
                                    <div ng-repeat="materia in ipc.materias"> 
                                            <input type="checkbox" ng-model="materia.isChecked" ng-change="ipc.checkSubjects(materia)"/> {{materia.nombre}}
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!-- TODO remove or implement file uploader -->
                        <!--                         <div class="form-group">
                            <label class="control-label col-md-3">Documento(s)</label>
                            <div class="col-md-9">
                                <div class="fileinput fileinput-new" data-provides="fileinput">
                                    <div class="input-group input-large">
                                        <div class="form-control uneditable-input span3" data-trigger="fileinput">
                                            <i class="fa fa-file-text fileinput-exists"></i>&nbsp;
                                            <span class="fileinput-filename"> </span>
                                        </div>
                                        <span class="input-group-addon btn default btn-file">
                                            <span class="fileinput-new"> Seleccionar </span>
                                            <span class="fileinput-exists"> Cambiar </span>
                                            <input type="file" required="required" name="..."> </span>
                                        <a href="#" class="input-group-addon btn red fileinput-exists" data-dismiss="fileinput"> Quitar </a>
                                    </div>
                                    <div class="help-block"> Subir un archivo comprimido(.zip), en caso de tener más de un documento. </div>
                                </div>
                            </div>
                        </div> -->
                        <div class="form-group">
                            <label class="control-label col-md-3">Categoría</label>
                            <div class="col-md-9">
                                <select class="form-control" ng-options="cat as cat.nombre for cat in ipc.categorias" ng-model="ipc.project.categoria" required="required"></select>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="control-label col-md-3">Integrantes</label>
                            <div class="col-md-9">
                                <angucomplete-alt id="usuario"
                                          placeholder="Buscar integrantes por matricula"
                                          pause="300"
                                          selected-object="selectUser"
                                          local-data="ipc.alumnos"
                                          search-fields="matricula"
                                          title-field="matricula"
                                          minlength="1"
                                          clear-selected="true"
                                          input-class="form-control"/>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="control-label col-md-3">Equipo</label>
                            <div class="col-md-9">
                                <div class="input-icon right">
                                    <input type="text" class="form-control" name="proyectname" id="proyectname" ng-model="ipc.team.nombre" placeholder="Ingrese el nombre de su equipo" required="required"> 
                                </div>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="control-label col-md-3">Archivo</label>
                            <div class="col-md-9">
                                <div class="input-icon right">
                                    <div class="btn btn-info" ngf-select ng-model="ipc.project.archivo" name="file">Select</div>
                                    <div> {{ipc.project.archivo.name}}</div>
                                </div>
                            </div>
                        </div>
                        <div class="form-group last">
                            <label class="control-label col-md-3">Integrantes del equipo</label>
                            <div>
<!--                                 <form class="search-form search-form-expanded" action="#" method="GET">
                                    <div class="input-group">
                                        <input type="text" class="form-control" placeholder="Search..." name="query">
                                        <span class="input-group-btn">
                                        <a href="javascript:;" class="btn submit">
                                            <i class="icon-magnifier"></i>
                                        </a>
                                        </span>
                                    </div>
                                </form> -->
                                <table class="table table-striped table-bordered table-hover table-checkable order-column" id="sample_2">
                                    <thead>
                                        <tr>
                                            <th> Matrícula </th>
                                            <th> Nombre </th>
                                            <th> E-mail </th>
                                            <th> Teléfono </th>
                                            <th></th>
                                        </tr>
                                    </thead>
                                    <tbody ng-repeat="integrante in ipc.project.integrantes">
                                        <tr class="odd gradeX">
                                            <td> {{integrante.matricula}} </td>
                                            <td> {{integrante.nombre}} {{integrante.apellidos}}</td>
                                            <td>
                                                <a href="mailto:{{integrante.correo}}"> {{integrante.correo}} </a>
                                            </td>
                                            <td> {{integrante.telefono}} </td>
                                            <td> 
                                                <a role="button" class="btn red" ng-click="ipc.removeStudent(integrante)"> Borrar </a>
    
                                            </td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                    <div class="form-actions">
                        <div class="row">
                            <div class="col-md-offset-3 col-md-9">
                                <button type="submit" class="btn green" 
                                ng-disabled="proyForm.$invalid || ipc.project.materia == 0">
                                    <i class="fa fa-check"></i> Guardar</button>
                                <button type="button" class="btn default">Cancelar</button>
                            </div>
                        </div>
                    </div>
                </form>
                <!-- END FORM-->
            </div>
        </div>
        <!-- END PORTLET-->
    </div>
</div>
