<h3 class="page-title"> Detalle de Materias</h3>
<div class="page-bar">
    <ul class="page-breadcrumb">
        <li>
            <i class="fa fa-home"></i>
            <a href="#/app/dashboard">Incio</a>
            <i class="fa fa-angle-right"></i>
        </li>
        <li>
            <a href="#/app/materias">Lista de Materias</a>
            <i class="fa fa-angle-right"></i>
        </li>
        <li>
            <a>Ver</a>
        </li>
    </ul>
</div>
<div class="row">
    <div class="col-xs-12">
        <div class="portlet light">
            <div class="portlet-title tabbable-line">
                <ul class="nav nav-tabs">
                    <li class="active">
                        <a data-target="#tab_1_1" data-toggle="tab">{{materia.nombre}}</a>
                    </li>
                </ul>
            </div>
            <div class="portlet-body">
                <div class="tab-content">
                    <!-- PERSONAL INFO TAB -->
                    <div class="tab-pane active" id="tab_1_1">
                        <form role="form" novalidate>
                            <div class="form-group">
                                <label class="control-label">Nombre</label>
                                <input type="text" ng-model="materia.nombre" class="form-control" disabled/> </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>