<h3 class="page-title"> Perfíl </h3>
<div class="page-bar">
    <ul class="page-breadcrumb">
        <li>
            <i class="fa fa-home"></i>
            <a href="#/app/dashboard">Incio</a>
            <i class="fa fa-angle-right"></i>
        </li>
        <li>
            <a> Perfíl</a>
        </li>
    </ul>
</div>
<div class="row">
    <div class="col-md-9">
        <div class="portlet light">
            <div class="portlet-title tabbable-line">
                <div class="caption caption-md">
                    <i class="icon-globe theme-font hide"></i>
                    <span class="caption-subject font-blue-madison bold uppercase">Perfil</span>
                </div>
                <ul class="nav nav-tabs">
                    <li class="active">
                        <a href="#/app/perfil" data-target="#tab_1_1" data-toggle="tab">Información Personal</a>
                    </li>
                    <li>
                        <a href="" data-target="#tab_1_3" data-toggle="tab">Cambiar Contraseña</a>
                    </li>
                </ul>
            </div>
            <div class="portlet-body">
                <div class="tab-content">
                    <!-- PERSONAL INFO TAB -->
                    <div class="tab-pane active" id="tab_1_1">
                        <form role="form" action="#">
                            <!-- TODO Add ng-models with uc -->
                            <div class="form-group">
                                <label class="control-label">Matrícula</label>
                                <input type="text" ng-model="uc.user.username" placeholder="1234567" class="form-control" /> 
                            </div>
                            <div class="form-group">
                                <label class="control-label">Nombre(s)</label>
                                <input type="text" ng-model="uc.user.first_name" placeholder="Jesús" class="form-control" /> 
                            </div>
                            <div class="form-group">
                                <label class="control-label">Apellidos</label>
                                <input type="text" ng-model="uc.user.last_name" placeholder="Castillo Pérez" class="form-control" /> 
                            </div>
                            <div class="form-group">
                                <label class="control-label">E-mail</label>
                                <input type="email" ng-model="uc.user.email" class="form-control" />
                            </div>
                            <!-- TODO Add telephone with a student service -->
                            <div class="form-group">
                                <label class="control-label">Teléfono</label>
                                <input type="text" placeholder="+52 (81)8 1818 181" class="form-control" /> 
                            </div>
                            <div class="margiv-top-10">
                                <a href="#" class="btn green-haze"> Guardar Cambios </a>
                                <a href="#" class="btn default"> Cancelar </a>
                            </div>
                        </form>
                    </div>

                    <!-- END PERSONAL INFO TAB -->
                    <!-- CHANGE AVATAR TAB -->
                    
                    <!-- END CHANGE AVATAR TAB -->
                    <!-- CHANGE PASSWORD TAB -->
                    <div class="tab-pane" id="tab_1_3">
                        <form action="#">
                            <div class="form-group">
                                <label class="control-label">Contraseña Actual</label>
                                <input type="password" class="form-control" /> </div>
                            <div class="form-group">
                                <label class="control-label">Nueva Contraseña</label>
                                <input type="password" class="form-control" /> </div>
                            <div class="form-group">
                                <label class="control-label">Repetir Contraseña</label>
                                <input type="password" class="form-control" /> </div>
                            <div class="margin-top-10">
                                <a href="#" class="btn green-haze"> Cambiar Contraseña </a>
                                <a href="#" class="btn default"> Cancelar </a>
                            </div>
                        </form>
                    </div>
                    <!-- END CHANGE PASSWORD TAB -->
                </div>
            </div>
        </div>
    </div>
</div>